@page "/login"
@layout Layout.EmptyLayout

@using SubjectManager.Shared;

@inject IdentityRedirectManager RedirectManager

<link rel="stylesheet" type="text/css" href="" />

<PageTitle>Login</PageTitle>

<div class="login-container">
    <div class="title-container">
        <span class="material-symbols-rounded">
            settings
        </span>
    </div>
    <EditForm Model="Input" method="post" FormName="login" OnValidSubmit="LoginUser">
        <div class="input-container">
            <InputText @bind-Value="Input.Email" class="login-input" aria-required="true"
                placeholder="name@example.com" />
        </div>
        <div class="input-container">
            <InputText type="password" @bind-Value="Input.Password" class="login-input" aria-required="true"
                placeholder="Password" />
        </div>
        <div class="connection-container">
            <div class="login-button-container">
                <button type="submit" class="login-button">Login</button>
            </div>
            <div class="login-button-container">
                <a class="">Register</a>
            </div>
        </div>
    </EditForm>
    <div class="forgot-link-container">
        <a class="">Forgot you password?</a>
    </div>
</div>