@page "/login"
@rendermode InteractiveServer

<PageTitle>Login</PageTitle>

<div class="login-container">
    <h1>Login</h1>

    <input type="text" class="input"/>

    <input type="password" class="input"/>
</div>